<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Menu Inicio</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/sweetalert2.min.css">
</head>

<body>
	<section class="vh-100">
		<div class="container vh-100">
			<div class="row d-grid align-items-center justify-content-center vh-100">
				<div class="col-sm-auto">
					<div class="text-center mt-3 mb-3">
						<h1 class="h1 fs-3 fw-bold">Causas de Tránsito</h1>
						<img class="rounded-5" src="/images/logo.png" alt="Logo Causas de Tránsito" width="200">
					</div>
					<div class="card shadow-lg bg-body rounded-4 overflow-hidden" style="width: 20rem;">
						<div class="card-header">
							<h2 class="fs-4 card-title fw-bold text-center">Municipalidades</h2>
						</div>
						<div class="card-body mx-2 mt-2 mb-2">
							<div class="d-grid gap-3 mx-auto">
								<a href="/causas-filtradas-la-reina" class="btn btn-primary btn-lg">La Reina</a>
								<a href="" class="btn btn-primary btn-lg disabled">Las Condes</a>
								<a href="" class="btn btn-secondary disabled">Puente Alto</a>
							</div>
						</div>
						<div class="card-footer py-3 border-0 text-center d-grid">
							<a href="" class="btn btn-secondary disabled">Buscar Causa</a>
						</div>
					</div>
					<hr>
					<div class="text-center text-muted">
						Copyright &copy; 2023 &mdash; GlobalSmart
					</div>
					<br>
				</div>
			</div>
		</div>
	</section>
	<script src="js/sweetalert2.all.min.js"></script>
	<script>
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		});
		Toast.fire({
				icon: 'success',
				title: 'Bienvenido <strong> <%= username %> </strong>'
		});
	</script>
</body>

</html>